<div class="login">
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-14 14 right-align">
            <div class="center-align">
                <h4>Login</h4>
             <div class="right-align">
            <div class="right-align">
            <div input-field>
                <input type="text" ng-model="$ctrl.username" qd-focus>
                <label>Username</label>
            </div>
            <div input-field>
                <input type="password" ng-model="$ctrl.password">
                <label>Password</label>
            </div>
     <a href="/" class="waves-effect btn-flat">Cancel</a>
     <button class="blue darken-1 btn waves-effect waves-light" ng-click="$ctrl.login()">Login</button>
            </div>
       </div>
   </div>
</div>
