<div class="home">
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-l4 18 right-align">
            <div class="center-align">
                <h4>Active Quizzes</h4>
                <div class="left-align">
                    <ul class="collection">
                      <li class="collection-item" ng-repeat="quiz in $ctrl.returnActiveQuizzes() track by $index">
                      <div>
                          <a href="" ng-click="$ctrl.quizSearch(quiz.shortId)">{{quiz.owner}}</a>
                          <span class="secondary-content">{{quiz.shortId}}</span>
                      </div>
                    </ul>
                </div>
                <div ng-if="$ctrl.waiting">
                    <br/>
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
