<div class="login">
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-14 14 right-align">
            <div class="center-align">
                <h4>Manage Subscriptions</h4>
             <div class="right-align">
            <div class="right-align">
            <div input-field>
                <input type="text" ng-model="$ctrl.userId" qd-focus>
                <label>User Id</label>
            </div>
     <a href="/" class="waves-effect btn-flat">Cancel</a>
     <button class="blue darken-1 btn waves-effect waves-light" ng-click="$ctrl.userSearch()">Search</button>
            </div>
       </div>
   </div>
</div>
          