<div class="accuracy" ng-cloak>

    <br/>

    <div class="row right-align">
        <a tooltipped class="btn btn-floating"
            download="{{$ctrl.getExcelTitle()}}.xlsx"
            onclick="return ExcellentExport.excel(this, 'accuracyTable', 'Accuracy');"
            data-position="bottom" data-delay="50" data-tooltip="Export To Excel">
            <i class="large material-icons">file_download</i>
        </a>
    </div>
    
    <table id="accuracyTable" class="striped responsive-table">
        <thead>
            <tr>
                <th data-field="username">Username</th>
                <th data-field="question" ng-repeat="question in $ctrl.getQuestions()">
                    <span tooltipped data-position="bottom" data-delay="50" data-tooltip="{{question.question}}">Question {{$index+1}}</span>
                </th>
                <th data-field="total">Total Grade</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Average Score</td>
                
                <td ng-repeat="question in $ctrl.getQuestions()"></td>
                
                <td ng-class="$ctrl.getStyles($ctrl.getAverageScore())">{{$ctrl.getAverageScore()}}%</td>
            </tr>
            <tr ng-repeat="user in $ctrl.getParticipants()">
                <td>{{user}}</td>
                
                <td ng-repeat="answer in $ctrl.getParticipantAnswers(user) track by $index">{{answer}}</td>
                
                <td ng-class="$ctrl.getStyles($ctrl.getParticipantGrade(user))">{{$ctrl.getParticipantGrade(user)}}%</td>
            </tr>
        </tbody>
    </table>
</div>
