<nav class="qd-navbar blue darken-1">
    <div class="nav=wrapper">
        <div class="container">
            <a href="/" class="brand-logo">{{::qdNavbar.siteName}}</a>
            <a href="#" data-activates="mobile-sidebar" data-sidenav="left" class="button-collapse" data-closeonclick="true"><i class="material-icons">menu</i></a>
        
            <ul class="right hide-on-med-and-down">
                <li><a href="/subscriber-management">Manage Subscriptions</a></li>
                <li><a href="/create-account">Create Account</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            
            <ul class="side-nav" id="mobile-sidebar">
                <li><a href="/subscriber-management">Manage Subscriptions</a></li>
                <li><a href="/create-account">Create Account</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
