<nav class="qd-navbar blue darken-1">
    <div class="nav=wrapper">
        <div class="container">
            <a href="/" class="brand-logo">{{::vm.siteName}}</a>
            <a href="#" data-activates="mobile-demo" data-sidenav="left" class="button-collapse"><i class="material-icons">menu</i></a>
        
            <ul class="right hide-on-med-and-down">
                <li><a href="/create">Create Account</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/create">Create Account</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
