.take-quiz {
    .col {
        margin-bottom: 20px;
    }
    .answer {
        background-color: darkgray;
        width: 90%;
        &.active {
            background-color: limegreen;
        }
    }
}
