<div class="create-account">
    <div class="row">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <div class="center-align">
                <h4>Create an Account</h4>
            </div>
            <div class="right-align">
                <div input-field>
                    <input type="text" ng-model="$ctrl.username" qd-focus qd-focus="$ctrl.createAccount()">
                    <label>Username</label>
                </div>
                <div input-field>
                    <input type="email" ng-model="$ctrl.email">
                    <label>Email</label>
                </div>
                <div input-field>
                    <input type="password" ng-model="$ctrl.password">
                    <label>Password</label>
                </div>
                <div input-field>
                    <input type="password" ng-model="$ctrl.repeatedPassword">
                    <label>Repeat Password</label>
                </div>
                <a href="/" class="waves-effect btn-flat">Cancel</a>
                <button class="blue darken-1 btn waves-effect waves-light" ng-click="$ctrl.createAccount()">Submit</button>
            </div>
        </div>
    </div>
</div>
