<div class="run-quiz">
    <div class="row center-align">
        <h4>{{$ctrl.quiz.title}}</h4>
    </div>

    <div class="row center-align">
        <input type="checkbox" id="hideResults" ng-model="$ctrl.hideResults" />
        <label for="hideResults">Hide Responses</label>
    </div>
    
    <div class="row center-align">
        {{$ctrl.getTime()}}
    </div>
    
    <div class="row center-align">
        <button ng-if="!$ctrl.isRunning" class="blue darken-1 btn waves-effect waves-light" ng-click="$ctrl.startQuiz()">Start</button>
        <button ng-if="$ctrl.isRunning" class="blue darken-1 btn waves-effect waves-light" ng-click="$ctrl.stopQuiz()">Stop</button>
    </div>

    <div ng-if="!$ctrl.hideResults" class="row">

        <div class="col s6">
            <question-display question="$ctrl.quiz.questions[$ctrl.currentNumber]" next-question="$ctrl.nextQuestion()"/>
        </div>

        <div class="col s6">
            <quiz-graph answers="[5, 7, 3]"/>
        </div>

    </div>

    <div ng-if="$ctrl.hideResults" class="row">

        <div class="col s8 offset-s2">
            <question-display question="$ctrl.quiz.questions[$ctrl.currentNumber]"/>
        </div>

    </div>
</div>
