<div class="quizManagement">
    <div class="row">
        <div class="col s12 center-align">
            <div class="center-align">
                <h4>My Quizzes</h4>
                <div input-field>
                    <input type="text" ng-model="$ctrl.searchCriteria" qd-focus qd-enter="$ctrl.searchWithFilter()">
                    <label>Search By Quiz Label</label>
                </div>
                <div class="right-align">
                    <button class="blue darken-1 btn waves-effect waves-light" ng-click="$ctrl.searchWithFilter()"><i class="material-icons right">search</i>Search</button>
                </div>
                <div class="left-align">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li ng-repeat="(key, values) in $ctrl.getFilteredQuizes()">
                            <div class="collapsible-header" class="left-align"  ng-class="{active: $first}"> {{key}} </div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat="value in values track by $index">
                                        <a ng-href="/edit-quiz/{{value.id}}"> {{value.title}} </a>
                                        <a class="chip" ng-repeat="temp in value.labels track by $index"> {{temp}} </a>
                                        <a ng-href="/run-quiz/{{value.id}}" class="secondary-content tooltipped" data-position="left" data-delay="50" data-tooltip="Run Quiz">
                                            <i class="material-icons">play_circle_outline</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                 <div ng-if="$ctrl.waiting">
                    <br/>
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed-action-btn " style="bottom: 45px; right:24px;" >
                    <a class="btn-floating btn-large blue tooltipped" href="/edit-quiz" data-position="left" data-delay="50" data-tooltip="Create New Quiz">
                        <i class="large material-icons">add</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
